.a {
    display: flex;
    justify-content: center;
}

.inp {
    height: 30px;
    width: 300px;
    border: 2px solid blue;
    font-size: 15px;
}

.btn {
    background-color: blue;
    margin-left: 5px;
    border-radius: 5px;
}

.b{
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.blur {
    color: red;
}

.sended{
    color: green;
}